.contacts__form {
  display: flex;
  flex-direction: column;
}

.contacts__input,
.contacts__textarea {
  width: 300px;
  border: none;
  -webkit-box-shadow: 0px 5px 13px -2px rgba(34, 60, 80, 0.19);
  -moz-box-shadow: 0px 5px 13px -2px rgba(34, 60, 80, 0.19);
  box-shadow: 0px 5px 13px -2px rgba(34, 60, 80, 0.19);
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 40px;
}

.contacts__textarea {
  height: 150px;
}

.contacts__input-wrapper {
  position: relative;
}
.contacts__textarea-wrapper {
  position: relative;
}

.contacts__button {
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.disabled-button {
  background-color: rgb(90, 90, 90);
  cursor: default;
}

.active-button {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.error-email {
  position: absolute;
  font-family: "Gilroy-Regular";
  color:rgb(219, 49, 49);
  top: 60px;
  left: 10px;
  transform: translateY(-50%);
}

.error-textarea {
  position: absolute;
  font-family: "Gilroy-Regular";
  color:rgb(219, 49, 49);
  top: 170px;
  left: 10px;
  transform: translateY(-50%);
}

.success-message {
  max-width: 300px;
  padding: 20px 20px;
  margin-top: 20px;
  background-color: #198754;
  font-family: "Gilroy-Semibold";
  color: #fff;
  border-radius: 5px;
  text-align: center;
}

.error-message {
  width: 300px;
  padding: 20px 20px;
  margin-top: 20px;
  background-color: #cf1812;
  font-family: "Gilroy-Semibold";
  color: #fff;
  text-align: center;
  border-radius: 5px;
  text-align: center;
}

@media screen and (max-width: 780px) {
  .contacts__input,
  .contacts__textarea {
    width: 270px;
    border: none;
    margin-bottom: 35px;
  }

  .contacts__textarea {
    height: 130px;
  }

  .contacts__button {
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
  }

  .error-textarea {
    top: 150px;
  }

  .success-message, .error-message {
    max-width: 270px;
    padding: 16px 20px;
    font-size: 14px;
  }
}

@media screen and (max-width: 630px) {
  .contacts__input,
  .contacts__textarea {
    font-size: 15px;
  }

  .contacts__button {
    font-size: 14px;
  }

  .success-message,
  .error-message {
    font-size: 14px;
  }
}

@media screen and (max-width: 510px) {
  .contacts__input,
  .contacts__textarea {
    font-size: 12px;
  }

  .contacts__button {
    font-size: 12px;
  }

  .success-message,
  .error-message {
    font-size: 12px;
  }

  .error-email {
    top: 55px;
  }

  .error-textarea {
    top: 147px;
  }
}

@media screen and (max-width: 420px) {
  .error-email {
    top: 52px;
  }
}