.contacts {
  max-width: 1200px;
  padding: 60px 0;
  margin: 0 auto;
}

.contacts__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.contacts__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  margin-right: 40px;
}

.contacts__title {
  font-family: "Gilroy-Bold";
  font-size: 42px;
  margin-bottom: 30px;
  text-align: center;
}

.contacts__descr {
  font-family: 'Gilroy-Regular';
  color: grey;
  text-align: center;
  font-size: 22px;
  margin-bottom: 40px;
}

.contacts__networks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  margin-bottom: 15px;
}

.contacts__icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.contacts__email, .contacts__tell {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.contacts__email-svg,
.contacts__tell-svg {
  width: 30px;
  margin-right: 10px;
}

.contacts__email-text,
.contacts__tell-text {
  font-family: 'Gilroy-Semibold';
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
  margin-bottom: 0;
}