.contacts {
  max-width: 1200px;
  padding: 60px 0;
  margin: 0 auto;
}

.contacts__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.contacts__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  margin-right: 40px;
}

.contacts__title {
  font-family: "Gilroy-Bold";
  font-size: 42px;
  margin-bottom: 30px;
  text-align: center;
}

.contacts__descr {
  font-family: 'Gilroy-Regular';
  color: grey;
  text-align: center;
  font-size: 22px;
  margin-bottom: 40px;
}

.contacts__networks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  margin-bottom: 15px;
}

.contacts__icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.contacts__email, .contacts__tell {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.contacts__email-svg,
.contacts__tell-svg {
  width: 30px;
  margin-right: 10px;
}

.contacts__email-text,
.contacts__tell-text {
  font-family: 'Gilroy-Semibold';
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
  margin-bottom: 0;
}

@media screen and (max-width: 991px) {
  .contacts {
    padding: 40px 0;
  }

  .contacts__wrapper {
    max-width: 300px;
  }

  .contacts__title {
    font-size: 38px;
  }

  .contacts__descr {
    font-size: 20px;
  }
}

@media screen and (max-width: 780px) {
  .contacts__title {
    font-size: 35px;
  }

  .contacts__descr {
    font-size: 20px;
  }

  .contacts__email-svg,
  .contacts__tell-svg {
    width: 24px;
  }

  .contacts__email-text,
  .contacts__tell-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 630px) {
  .contacts {
    padding: 30px 0;
  }

  .contacts__container {
    flex-direction: column;
    align-items: center;
  }

  .contacts__wrapper {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .contacts__title {
    font-size: 30px;
  }

  .contacts__descr {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .contacts__networks {
    width: 120px;
    margin-bottom: 15px;
  }

  .contacts__icon {
    width: 35px;
    height: 35px;
  }

  .contacts__email,
  .contacts__tell {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 510px) {
  .contacts__title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .contacts__descr {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .contacts__email-text,
  .contacts__tell-text {
    font-size: 16px;
  }

  .contacts__email-svg,
  .contacts__tell-svg {
    width: 20px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 420px) {
  .contacts__title {
    font-size: 23px;
    margin-bottom: 15px;
  }

  .contacts__descr {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .contacts__email-text,
  .contacts__tell-text {
    font-size: 14px;
  }

  .contacts__email-svg,
  .contacts__tell-svg {
    width: 18px;
    margin-right: 10px;
  }

  .contacts__icon {
    width: 30px;
    height: 30px;
  }
}