.each-slide-effect>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  margin-bottom: 15px;
}

.react-slideshow-container {
  width: 600px;
}

.slide__text {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.slide__name {
  font-family: "Gilroy-Regular";
  font-size: 24px;
  color: inherit;
  margin-bottom: 7px;
}

.slide__descr {
  font-family: "Gilroy-Light";
  font-size: 15px;
  color: grey;
  margin-bottom: 7px;
}

.slide__link-wrapper {
  display: flex;
  align-items: center;
}

.slide__link {
  cursor: pointer;
  text-decoration: none;
}

.slide__link-svg {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.slide__link-text {
  font-family: "Gilroy-Regular";
  font-size: 15px;
  color: rgb(0, 0, 0);
  margin-bottom: 0;
  cursor: pointer;
}

.shadow {
  -webkit-box-shadow: 0px 5px 13px -2px rgba(34, 60, 80, 0.19);
  -moz-box-shadow: 0px 5px 13px -2px rgba(34, 60, 80, 0.19);
  box-shadow: 0px 5px 13px -2px rgba(34, 60, 80, 0.19);
  padding-bottom: 20px;
  border-radius: 10px;
}

.indicator {
  width: 8px;
  height: 8px;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  background: rgb(209, 209, 209);
}

.indicators {
  display: flex;
  align-items: center;
  padding: 0;
}

.indicator:not(:first-child) {
  margin-left: 10px;
}

.indicator.active {
  background: rgb(20, 20, 20);
  width: 12px;
  height: 12px;
}

.prev-button {
  background: none;
  border: none;
  transform: translateX(-250%);
}

.prev-button__svg, .next-button__svg {
  width: 35px;
}

.next-button {
  background: none;
  border: none;
  transform: translateX(250%);
}

@media screen and (max-width: 991px) {
  /* Отображение картинки */

  .each-slide-effect>div {
    height: 375px;
  }

  .react-slideshow-container {
    width: 500px;
  }

  /* Надписи */

  .slide__name {
    font-size: 20px;
    margin-bottom: 6px;
  }

  .slide__descr {
    margin-bottom: 6px;
  }

  .shadow {
    padding-bottom: 0px;
  }

  /* Индикаторы */

  .indicator {
    width: 6px;
    height: 6px;
  }

  .indicator:not(:first-child) {
    margin-left: 8px;
  }

  .indicator.active {
    width: 8px;
    height: 8px;
  }

  /* Кнопки перемещения */

  .prev-button {
    transform: translateX(-200%);
  }

  .next-button {
    transform: translateX(200%);
  }
}

@media screen and (max-width: 780px) {
  /* Отображение картинки */

  .each-slide-effect>div {
    height: 300px;
    margin-bottom: 10px;
  }

  .react-slideshow-container {
    width: 400px;
  }

  /* Надписи */

  .slide__name {
    font-size: 16px;
    margin-bottom: 4px;
  }

  .slide__descr {
    font-size: 12px;
    margin-bottom: 4px;
  }

  .slide__link-svg {
    width: 15px;
    height: 15px;
  }

  .slide__link-text {
    font-size: 13px;
  }

  /* Индикаторы */

  .indicator {
    width: 6px;
    height: 6px;
    margin: 0;
  }

  .indicator:not(:first-child) {
    margin-left: 8px;
  }

  .indicator.active {
    width: 8px;
    height: 8px;
  }

  .react-slideshow-container+ul.indicators {
    margin-top: 10px;
  }

  /* Кнопки перемещения */

  .prev-button {
    transform: translateX(-150%);
  }

  .next-button {
    transform: translateX(150%);
  }
}

@media screen and (max-width: 510px) {
  /* Отображение картинки */

  .each-slide-effect>div {
    height: 225px;
    margin-bottom: 10px;
  }

  .react-slideshow-container {
    width: 300px;
  }

  /* Надписи */

  .slide__name {
    font-size: 12px;
    margin-bottom: 4px;
  }

  .slide__descr {
    font-size: 10px;
    margin-bottom: 4px;
  }

  .slide__link-svg {
    width: 12px;
    height: 12px;
  }

  .slide__link-text {
    font-size: 10px;
  }

  /* Индикаторы */

  .indicator {
    width: 4px;
    height: 4px;
    margin: 0;
  }

  .indicator:not(:first-child) {
    margin-left: 6px;
  }

  .indicator.active {
    width: 6px;
    height: 6px;
  }

  .react-slideshow-container+ul.indicators {
    margin-top: 10px;
    margin-bottom: 8px;
  }

  /* Кнопки перемещения */

  .prev-button {
    transform: translateX(-130%);
  }

  .next-button {
    transform: translateX(130%);
  }

  .prev-button__svg,
  .next-button__svg {
    width: 25px;
  }
}

@media screen and (max-width: 420px) {
  /* Отображение картинки */
  
  .each-slide-effect>div {
    height: 187px;
    margin-bottom: 6px;
  }

  .react-slideshow-container {
    width: 250px;
  }

  /* Надписи */

  .slide__name {
    font-size: 10px;
    margin-bottom: 4px;
  }

  .slide__descr {
    font-size: 9px;
    margin-bottom: 4px;
  }

  .slide__link-svg {
    width: 10px;
    height: 10px;
  }

  .slide__link-text {
    font-size: 9px;
  }

  /* Индикаторы */

  .indicator {
    width: 4px;
    height: 4px;
    margin: 0;
  }

  .indicator:not(:first-child) {
    margin-left: 6px;
  }

  .indicator.active {
    width: 6px;
    height: 6px;
  }

  .react-slideshow-container+ul.indicators {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  /* Кнопки перемещения */

  .prev-button {
    transform: translateX(-130%);
  }

  .next-button {
    transform: translateX(130%);
  }

  .prev-button__svg,
  .next-button__svg {
    width: 25px;
  }
}