.parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('../../assets/images/photo.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.parallax__title {
  font-family: "Gilroy-Bold";
  text-transform: uppercase;
  font-size: 104px;
  color: #fff;
  margin-top: 30px;
}

.parallax__description {
  font-family: "Gilroy-Regular";
  font-size: 20px;
  line-height: 1.55;
  color: #fff;
  margin-top: 20px;
}

@media screen and (max-width: 1280px) {
  .parallax__title {
    font-size: 84px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 991px) {
  .parallax__title {
    font-size: 68px;
    margin-top: 30px;
  }

  .parallax__description {
    font-size: 16px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 780px) {
  .parallax__title {
    font-size: 58px;
    margin-top: 30px;
  }

  .parallax__description {
    font-size: 16px;
    line-height: 1;
    margin-top: 10px;
  }
}

@media screen and (max-width: 630px) {
  .parallax__title {
    font-size: 45px;
    margin-top: 50px;
  }

  .parallax__description {
    font-size: 14px;
    margin-top: 8px;
  }
}

@media screen and (max-width: 510px) {
  .parallax__title {
    font-size: 35px;
    margin-top: 50px;
  }

  .parallax__description {
    font-size: 12px;
    margin-top: 8px;
  }
}

@media screen and (max-width: 420px) {
  .parallax__title {
    font-size: 28px;
    margin-top: 50px;
  }

  .parallax__description {
    font-size: 12px;
    margin-top: 8px;
  }
}